@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Prompt:wght@100&display=swap');

h1{
    margin-top: 0;
    font-weight: bold;
    font-size: 35px;
}
p{
    font-weight: 100;
    font-size: 25px;
}

.containerlogin{
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka One', cursive;
    background-image: linear-gradient(-150deg, white,#fcf696);
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
    background-size: cover;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
    background-image: linear-gradient(-150deg, #92e7d0,#fcf696);
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
    background-size: cover;
    height: 100vh;
}

.headlogo{
    width: 500px;
    height: 330px;
}

.pic{
    width: 100px;
    height: 100px;
}
.boxsignin{
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background:white;
    box-shadow:0 0 6px 0 rgba(0,0,0,0.15);
    border-radius: 30px;
    border-color:gray;
    border-style: solid;
    border-width: 6px;
}

.formPSUpassport{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.boxsignin2{
    display: flex;
    height: 380px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0 0 6px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}

.inputlogin{
    height: 25px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    border: none;
    outline: none;
}

.buttonSigin{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    font-family: 'Fredoka One', cursive;
    border-style: solid;
    border-width: 2px;
    color: white;
    background-color: indigo;
    transition: font-size 1s;
}

.buttonSigin:hover{
    font-size: 20px
}

.wrap-input{
    width: 100%;
 
    text-align: center;
    border-bottom: 2px solid rgba(0,0,0,0.24);
    transition: font-size 1s,border-bottom 1.5s;
 }
 .wrap-input:hover{
    width: 100%;
    border-bottom: 2px solid rgba(0,0,150,0.8); 
 }
 .fontActivity{
font-size: 30px;
color: #679bc9;
 }

 .pleasesignin{
    color: #4c7396;
 }
 .Or{
     margin-top: 10px;
 }