@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.boxtopbar{
    display: flex;
    flex-direction:row;
    height: 60px;
    background-color: white;
    align-items:center;
    justify-content: space-between;
    font-family: 'Mali', cursive;
    font-weight:bold;
    color: #2999ba;
    padding:5px;
}


.barmenu{
    display: flex;
    width: 600px;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
.barname{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 10px;
}

.displayName{
    font-size: 20px;
    margin-right: 15px;
}

.PSU{
    width: 170px;
    height: 60px;
}
.PhotoURL{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.btn-signout{
    width: 80px;
    height: 30px;
    font-family: 'Mali', cursive;
}
